body {text-align:center;}

.popup {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  display: none;
  width: 100px;
  color:#000000;
}

table{
	margin-left:auto;
	margin-right:auto;
	table-layout: fixed;
}

div.error{
	color:red;
}