a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a.cursive, div.cursive, p{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 20;
}
p.small{
	font-size: 15;
}
div{
	display: inline;
}
div.error{
	font-family: 'Nothing You Could Do', cursive;
	color: red;
}